body {
    margin: 0;
    font-family: Open Sans,sans-serif;
}

.container {
    max-width: 1100px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
}

.right-images { /** Code Reusability !!! **/
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40,0 8px 16px -8px #0000004d,0 -6px 16px -6px #00000008;
    margin-left: 15px;
}

/********First Section **********/
.hero {
    padding: 100px 0;
    background-color: #ffffff;
}

.section-1 {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.s1-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%; 
}

.logo-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}

.logo-title img {
    width: 40px;
    height: auto;
    margin-right: 10px; 
}

.logo-title h1 {
    font-family: Work Sans,sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}

.logo-title h2 {
    margin: 12px 0; /* top-bottom,  left-right */

}

.s1-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/******** Second Section **********/

.features {
    background-color: #f4f7fc;
    padding: 100px 0;
}

.section-content {
    display: flex; 
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    text-align: center; 
}

.section-content h2 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;

}

.section-content a {
    background-color: white;
    color: #386bf3;
    text-decoration: none;
    width: 100%;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16;
    margin-bottom: 16;
}

/******** Third Section **********/
.fetaure-section {
    padding: 100px 0;
    background-color: #ffffff;
}

.feature-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f1-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%; 
}

.f2-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.f1-left h2 {
    margin: 20px 0;
}

.f1-left p {
    margin: 15px 0;
}

.f1-left .section-button {
    background-color: #f4f7fc;
    text-decoration: none;
    width: 90%;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px 0;
}








