body {
    margin: 0;
    font-family: Open Sans,sans-serif;
}

.feature-section {
    padding: 100px 0;
}

.container {
    max-width: 1100px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
}

.feature-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature-image {
    display: flex;
    max-width: 100%;
    height: auto; 
}

.images {
    max-width: 540px;
    height:auto; 
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40,0 8px 16px -8px #0000004d,0 -6px 16px -6px #00000008;
        
}

code {
    font-size: 15px; 
}

h2 {
   margin: 10px 0; /* top-bottom,  left-right */
}

.section-button {
    background-color: #f4f7fc;
    text-decoration: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px 0;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

/*** Hero Section ***/
.hero {
    padding: 100px 0;
    background-color: #ffffff;
}

.hero-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.logo-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}

.logo-title img {
    width: 40px;
    height: auto;
    margin-right: 10px; 
}

.logo-title h1 {
    font-family: Work Sans,sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}

/*** Simple Usage Section ***/
.features {
    background-color: #f4f7fc;
    padding: 100px 0;
}

.feature {
    display: flex; 
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    text-align: center; 
}

.feature h2 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature a {
    background-color: white;
    color: #386bf3;
    text-decoration: none;
    width: 100%;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16;
    margin-bottom: 16;
}


/******** Footer **********/

footer {
    background-color: #000000;
    color: #fff9;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.footer-content img {
    width: 230px;
    height:auto;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
    line-height: 2;
}

.footer-content a {
    text-decoration: none;
    font-weight: 500;
    color: #fff9;
}